@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-ken-burns {
  background-size: 100%;
  animation: kenBurns 60s ease infinite;
}

@keyframes kenBurns {
  0% {
    background-size: 100%;
  }
  50% {
    background-size: 120%;
  }
  100% {
    background-size: 100%;
  }
}

.pan-topleft {
  animation: kenBurns 20s ease infinite, panTopLeft 20s ease infinite;
}

.pan-bottomright {
  animation: kenBurns 20s ease infinite, panBottomRight 20s ease infinite;
}

@keyframes panTopLeft {
  0% {
    background-position: center center;
  }
  50% {
    background-position: top left;
  }
  100% {
    background-position: center center;
  }
}

@keyframes panBottomRight {
  0% {
    background-position: center center;
  }
  50% {
    background-position: bottom right;
  }
  100% {
    background-position: center center;
  }
}
